@font-face {
  font-family: "URWGeometric-Bold.woff";
  src: url("/URWGeometric-Bold.woff") format("woff");
}

p {
  margin: 0px;
  padding: 0px;
}

.about-text p {
  font-size: 1.7em;
  line-height: 1.5em;
}

.background {
  background: #FCEADE;
  width: 100%;
  height: 1800px;
  position: relative;
}

.nav-links-container {
  display: flex;
  flex-flow: row;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 200px;
  margin-bottom: 100px;
}

.navlink-txt {
  font-family: "URWGeometric-Bold.woff";
  font-size: 50px;
}

.title-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  z-index: 10;
  position: absolute;
}

.hero-txt {
  margin: 0px;
  font-family: "URWGeometric-Bold.woff";
  font-size: 140px;
  line-height: 140px;
  color: black;
  display: inline-block;
}

.hero-txt:hover {
  animation: textanimation 1.2s ease infinite;
  cursor: crosshair;
}

@keyframes textanimation {
  25%  {
    color:#16F4D0;
    background-position:0% 50%;}
  50%  {
    color:#FF8A5B;
    background-position:100% 50%;}
  100% {
    color:#16F4D0;
    background-position:0% 50%;}
}

.about-container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  margin: 0px;
  width: 100%;
  margin-top: 300px;
}

.anna-img {
  height: 700px;
  margin-bottom: 30px;
}

.about-text {
  font-family: "URWGeometric-Bold.woff";
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  width: 800px;
}

.heart-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 10%;
  width: 50px;
  margin-left: 200px;
  margin-top: 45px;
}

.heart-container img {
  width: 50px;
}

.heart-img:hover {
  animation: shake 0.7s;
  animation-iteration-count: infinite;
}

.heart-info {
  transform: rotate(-10deg);
  text-align: center;
  width: 150px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.heart-info.hidden {
  display: none;
}

.invisible-scroll-arrow {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 700px;
  z-index: 10;
}

.invisible-scroll-arrow:hover {
  cursor: url("/scroll-blk.png"), auto;
}

.social-links-container {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  width: 100%;
  padding-right: 20px;
  margin-top: 200px;
  position: absolute;
}

.social-links img {
  width: 25px;
  height: 25px;
  background-color: black;
  margin: 2px 0px;
  position: relative;
  z-index: 20;
}
